services:
  bot:
    build:
      context: ./src
      dockerfile: Dockerfile
    depends_on:
      - redis
    restart: on-failure
    env_file:
      - .env

  redis:
    image: redis:latest
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data:
    external: false
